body{
    background-color: burlywood;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        margin-top: 50px;
        font-size: 25px;
        color: gray;
    }
    .input-hafta{
            align-items: center;
        h5{
            font-size: 15px;
            color: rgb(118, 120, 120);
        }
        .input{
            width: 550px;
            color: rgb(0, 0, 0);
            
        }
    }
    .btn{
        padding: 8px 18px;
        align-self: center;
        margin: 10px 0 10px -460px;
        border: 1px solid none !important;
    }
    .result{
        color: orange;
    }
    .FizzBuzz{
        color: red;
    }
    .btn-inp{
        display: flex;
        flex-direction: column;
        background-color: rgb(221, 214, 214);
        width: 600px;
        align-items: center;
        .number{
            width: 528px;
            margin-top: 10px;
        }
        .btn-success{
            padding: 5px 200px;
            margin-left: 0px;
        }
    }
    .number-answer{
        color: rgb(6, 151, 151);
        border: 1px solid rgb(6, 151, 151);
        padding: 5px 7px;
        border-radius: 5px;
        margin-top: 100px;
    }
}